.aider*
# Add the files or directories you want to ignore here
# For example, to ignore all .pyc files, you would add:
# *.pyc

# Ignore Go related files
*.go
# Ignore Go binaries
/bin/
# Ignore compiled executable
backup
